@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Neucha&family=Quicksand:wght@300..700&display=swap');
body {
/* background-color: rgb(12, 1, 23);   background-color: rgb(12, 1, 23) */
background-image: url('https://cdn.pixabay.com/animation/2023/03/19/02/34/02-34-11-741_512.gif');
color : whitesmoke;
font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

ul li a:hover{
  color: yellow;
}

.gradient-text{
  background: linear-gradient(90deg, #FF00CC 0%, #3333FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  border-right: 2px solid #3333FF;
  animation: typing-text steps(40) 3s infinite;
  text-wrap: nowrap;
  white-space: nowrap;

  width: 100%;

}
html{
  scroll-behavior: smooth;
}

@keyframes typing-text {
  from{
    width: 0;
  }

  to {
    width: 110%;
  }
  
}